@model ETB310_LandlordV2.Models.ServiceCaseViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Visa ärende @Model.CaseNr</h2>

<table class="table">
    <tr>
        <th>
            casenumber
        </th>
        <th>
            Meddelande
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Posts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)<br />
            @Html.DisplayFor(modelItem => item.ContactEmail)<br />
            @{var p = item.Private ? "privat" : "publik"; }
            @p

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseMessage)
        </td>
    </tr>
}
</table>
<!--
<input id="ServiceCaseMessage" type="text" />
<input id="SubmitMessage" type="button" value="button" onclick=""/>
-->