@model ETB310_LandlordV2.Models.LogInViewModel

@{
    ViewBag.Title = "Startsida";
}

<h1>Logga in</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div>Namn: </div>
        <div>@Html.TextBoxFor(vm => vm.UserName, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div>Lösenord: </div>
        <div>@Html.PasswordFor(vm => vm.Password, new { @class = "form-control" })</div>
    </div>
    <div class="row">
        <div class="alert-danger site-alert errormessage">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Log in" class="btn btn-default" />
    </div>
}
